@model IEnumerable<MvcOnlineTicariOtomasyon.Models.Siniflar.Urun>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br>
<form asp-action="Index" asp-controller="Uruns" method="get">
	<p>
		Ürün Adı: <input type="text" name="search" placeholder="Ara..." />
		<button type="submit">Ara</button>
	</p>
</form>
<br />
<table class="table table-bordered">
	<tr>
		<th>ÜRÜN</th>
		<th>MARKA</th>
		<th>STOK</th>
		<th>ALIŞ FİYATI</th>
		<th>SATIŞ FİYATI</th>
		<th>KATEGORİ</th>
		<th>SİL</th>
		<th>GÜNCELLE</th>
		<th>DETAYLAR</th>
		<th>SATIŞ YAP</th>
	</tr>
	@foreach(var u in Model)
	{
		<tr>
			<td>@u.UrunAd</td>
			<td>@u.Marka</td>
			<td>@u.Stok</td>
			<td>@u.AlisFiyat ₺</td>
			<td>@u.SatisFiyat ₺</td>
			<td>@u.Kategori.KategoriAd</td>
			<td><a href="/Uruns/UrunSil/@u.Urunid" class="btn btn-danger">Sil</a></td>
			<td><a href="/Uruns/UrunGetir/@u.Urunid" class="btn btn-success">Güncelle</a></td>
			<td><a href="/Uruns/UrunDetay/@u.Urunid" class="btn btn-info">Detaylar</a></td>
			<td><a href="/Uruns/SatisYap/@u.Urunid" class="btn btn-outline-info">Satış Yap</a></td>
		</tr>
	}
</table>
<a href="/Uruns/YeniUrun" class="btn btn-primary">Yeni Ürün</a>

