@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model MvcOnlineTicariOtomasyon.Models.ViewModels.FaturaDetayViewModel
@{
    ViewData["Title"] = "FaturaDetay";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h1>Fatura Detay Sayfası</h1>
<br />
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">
        
    </li>
</ol>

<table class="table table-hover">
    <tr>
        <th>ID</th>
        <th>Açıklama</th>
        <th>Miktar</th>
        <th>Birim Fiyat</th>
        <th>Tutar</th>
    </tr>
    @foreach (var f in Model.FaturaKalems)
    {
        <tr>
            <td>@f.Faturakalemid</td>
            <td>@f.Aciklama</td>
            <td>@f.Miktar</td>
            <td>@f.BirimFiyat</td>
            <td>@f.Tutar</td>
        </tr>
    }
</table>
<br />
<td><a href="/Faturalars/YeniKalem/" class="btn btn-warning">Yeni Kalem Girişi</a></td>

