
@{
    ViewBag.Title = "Watched";
}

<h2>Watched</h2>

<div class="container my-4">
    <h2 class="text-center mb-4">@ViewBag.Title</h2>
    <div class="row">
        @foreach (var movie in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card shadow-sm">
                    <img src="" class="card-img-top" alt="@movie.Title">
                    <div class="card-body">
                        <h5 class="card-title">@movie.Title</h5>
                        @*<p class="card-text text-truncate">@movie.Description</p>*@
                        <div class="d-flex justify-content-between align-items-center">
                            <a href="@Url.Action("UserDetails", "Home", new { id = movie.Id })" class="btn btn-primary btn-sm">Details</a>
                            <form asp-action="RemoveFromList" asp-controller="Lists" method="post">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="movieId" value="@movie.Id" />
                                <button type="submit" class="btn btn-danger btn-sm">Remove</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
